<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" monitorInterval="30">

    <Properties>
        <!--for Colors look at:
        https://logging.apache.org/log4j/2.x/log4j-core/apidocs/org/apache/logging/log4j/core/pattern/AnsiEscape.html -->
        <Property name="LOG_PATTERN">%highlight{%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-5p (%c{1}:%L) - %m%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=FG_GREEN, DEBUG=FG_BRIGHT_MAGENTA, TRACE=blue}
        </Property>
        <Property name="LOG_PATTERN_PROCESSION">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %m%n%throwable
        </Property>
        <Property name="APP_LOG_ROOT">logs/bnserver</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="protocolLog" fileName="${APP_LOG_ROOT}/protocol.log"
                                 filePattern="${APP_LOG_ROOT}/protocol-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN_PROCESSION}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500000MB"/>
            </Policies>
            <DefaultRolloverStrategy max="365"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="jettyLog" fileName="${APP_LOG_ROOT}/jetty.log"
                                 filePattern="${APP_LOG_ROOT}/jetty-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="15000KB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="springLog" fileName="${APP_LOG_ROOT}/bladenight-spring.log"
                                 filePattern="${APP_LOG_ROOT}/spring-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="appLog" fileName="${APP_LOG_ROOT}/bladenight-server.log"
                                 filePattern="${APP_LOG_ROOT}/bladenight-server-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingRandomAccessFile>

        <RollingFile name="wampLog" fileName="${APP_LOG_ROOT}/bladenight-wamp.log"
                     filePattern="${APP_LOG_ROOT}/application-wamp-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>



        <Logger name="app.bladenight.server.rpchandlers.RpcHandlerGetRealtimeUpdate" additivity="false" level="info">
            <AppenderRef ref="protocolLog"/>
            <AppenderRef ref="Console" level="debug"/>
        </Logger>

  <Logger name="app.bladenight.server" additivity="false">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="app.bladenight.wampv2" additivity="false">
            <AppenderRef ref="wampLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="app.bladenight" additivity="false">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.eclipse.jetty.util.log" additivity="false">
            <AppenderRef ref="jettyLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.eclipse.springframework" additivity="false">
            <AppenderRef ref="springLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="appLog"/>
        </Root>

    </Loggers>

</Configuration>
